
/* "Animate" button container */
#root > div:nth-child(1) > div > div > div > div > section > div > div:nth-child(1) > div:nth-child(3) > div > div.stBlock.st-bd.st-bb.st-be > div:nth-child(1) > div:nth-child(2) {
    z-index: 10 !important;
    margin-left: 5px !important;
}

/* Map container */
#root > div:nth-child(1) > div > div > div > div > section > div > div:nth-child(1) > div:nth-child(3) > div > div.stBlock.st-bd.st-bb.st-be > div:nth-child(1) > div:nth-child(3) {
    margin-top: -60px !important;
}